{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Encode Message{% endblock %}

{% block content %}
<div class="bg-white shadow-md rounded-lg max-w-lg w-full p-8 mx-auto">
  <p><a href="{% url 'landing' %}" class="text-gray-500 hover:text-indigo-700 font-semibold ">home</a> <span class="px-10"><a href="{% url 'decode' %}" class="text-gray-500 hover:text-indigo-700 font-semibold ">&lt;back</a></span></p>
  <hr class="mb-3  border-green-500">
  <h1 class="text-3xl font-bold mb-6 text-center capitalize  text-indigo-600">Encode Message into Image</h1>
  
  <form method="post" enctype="multipart/form-data" class="space-y-6">
    {% csrf_token %}
    <div>
      <p class="text-lg font-semibold mb-1 text-indigo-800">{{ form.cover_image.label_tag }}</p>
      {{ form.cover_image|add_class:"block w-full font-bold text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded-md  file:border-0 file:text-sm file:font-bold file:bg-indigo-100 file:text-indigo-700 hover:file:bg-indigo-200" }}
    </div>
    <div>
      <p class="text-lg font-semibold mb-1 text-indigo-800">{{ form.secret_message.label_tag }}</p>
      {{ form.secret_message|add_class:"block w-full p-3  text-sm border border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500"  }}
    </div>
    <div>
      <p  class="text-lg font-semibold mb-1 text-indigo-800">{{ form.password.label_tag }}</p>
      {{form.password|add_class:"block w-full rounded border border-gray-300 p-3 text-sm shadow-sm focus:border-indigo-500 focus:ring-indigo-500"  }}
      {% if form.password.errors %}
      <p class="texr-red-600 text-sm mt-1">{{ form.password.errors }}</p>
      {% endif %}
    </div>
    <button type="submit" class="w-full bg-indigo-600  text-gray-200 font-bold py-3 hover:text-gray-50 rounded-md hover:bg-indigo-800 transition">
      Encode
    </button>
  </form>

  {% if encoded_image_url %}
  <div class="mt-6 text-center">
    <a href="{% url 'download_encoded_image' encoded_image_instance.pk %}" class="inline-block bg-green-500 text-white px-6 py-3 rounded-md hover:bg-green-600 transition">
      Download Encoded Image
    </a>
  </div>
  {% endif %}
</div>
{% endblock %}




